@layout("layout.html", {title: "欢迎页"}){
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div>
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <ul>
            <li>项目采用Maven分模块构建，方便扩展自定义模块。</li>
            <li>前端采用adminLTE、vue.js、bootstrap-table、ztree、layer，</li>
            <li>后端采用SpringBoot、Mybatis、dubbo</li>
            <li>待各位大神996icu</li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    var vm = new Vue({
        el: '#dpLTE'
    });
</script>
@}